.new_pots h2 {
  text-align: center;
  margin-bottom: 1rem;
  color: #e64906;
}

form {
  max-width: 50rem;
  width: 100%;
  margin-bottom: 0 auto;
}

.form_control {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}

.form_control label {
  margin-bottom: 0.5rem;
  color: #e64906;
    font-weight: 600;
}

.form_control input {
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  height: 4rem;
  }
  
  .form_control input:focus {
    border: 0.1rem solid #e64906;
  }
  
  .form_control textarea {
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
    height: 10rem;
  border: none;
}
.newBtn {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #fff;
  border: 0.1rem solid transparent;
  font-weight: 600;
  transition: ease 0.3s;
}

.newBtn:hover {
  background-color: transparent;
  border: 0.1rem solid #fff;
  color: #fff;
}